body {
    font-family: Arial, sans-serif;
    margin: 25px;
    background-image: url('https://images3.alphacoders.com/118/1181827.jpg');
    background-size: cover;
    background-position:unset;
    color: #333;
}

h1 {
    text-align: center;
    color: #5a5a5a;
}

button {
    background-color: #6f4c3e; /* Кофейный цвет */
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5b3e30; /* Темнее кофейный цвет при наведении */
}

.section {
    display: none;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон для секций */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #6f4c3e; /* Кофейный цвет при фокусе */
    outline: none;
}

.client-item, .product-item, .purchase-item {
    margin: 5px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.client-item:hover, .product-item:hover, .purchase-item:hover {
    background-color: #f1f1f1;
}

.client-item span, .product-item span, .purchase-item span {
    display: inline-block;
    margin-right: 10px;
}
